// colors
$white: #fff;
$price: #1f3049;
$feature: #0066ff;

// types
$font: "Open Sans", sans-serif;

// fontsize
$h1: 3.75rem;
$h2: 3rem;
$period: 1.5rem;
$tier: 1.3125rem;
$cta: 1.125rem;

//spacing 
